body {
    font-family: Arial Regular;
    font-size: 15px;
}
ul {
    list-style-type: none;
}
a:hover {
    text-decoration: none;
}
.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.btn {
    width: 205px;
    height: 44px;
    border-radius: 0px!important;
    font-family: Arial Regular, sans-serif;
    font-size: 15px;
}
.bell button {
    width: 166px;
    height: 44px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

h2{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

/*main slider*/

h1 {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 3px;
    line-height: 1.4;
    letter-spacing: 2px;
}

.big_text {
    text-transform: uppercase;
}

.navbar-brand span {
    color: #036ad0;
    font-weight: bold;
    font-size: 24px;
    margin-left: 11px;
    font-family: "Myriad Pro", sans-serif;
}
.navbar-brand {
    margin-right: 51px;
    display: inline;
    height: auto;
    padding: 0px 15px 0px 15px;
    margin-bottom: 13px;
}
.navbar-header .navbar-brand {
    display: none;
}
.navbar-default {
    border: none;
    background-color: #fff;
}
#navbarCollapse .navbar-nav li a{
    border: none;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}
#navbarCollapse .navbar-nav li a:hover {
    color: red;
    text-decoration: underline;
}
#navbarCollapse .navbar-nav li a i{
    color: #969696;
    margin-left: 10px;
}
#navbarCollapse .navbar-nav li a.search i {
    color: #000;
}
#navbarCollapse > .navbar-nav > li.active > a {
    background-color: #036ad0;
    color: #fff;
}
.navbar ul.navbar-nav {
    display: -webkit-box;
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    float: none;
}
.navbar {
    margin-bottom: 3px;
}


.tagline span {
    font-size: 13px;
    color: #4c4c4c;
}
.tagline, .bell, .phone {
    display: inline;
}
.common {
    margin-top: 20px;
	position: relative;
}
.common .phone {
	margin-right: 26px;
}
.common_item_second {
	float: right;
}
.common_item_first {
    position: relative;
}
.bell {
    display: inline;
    float: right;
}
.phone ul {
    display: inline-block;
}
.phone ul li {
    color: gray;
    font-size: 13px;
	text-align: right;
}
.phone ul li address {
    color: black;
    font-size: 18px;
	margin-bottom: 5px;
}
.btn-secondary {
    color: #036ad0;
    border: solid 1px #036ad0;
    background: transparent;
}
header:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #2ea0d6, #31a5d1, #34abcf, #38b1cb, #3db7c6, #48c8bb);
}
header {
    margin-bottom: 4px;
}


.item{
    background: #333;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/main_slider1.jpg") center no-repeat;
    background-size: cover;
    min-height: 530px;
}
.item img {
    height: 100% !important;
    position: relative;
}
#myCarousel {
    position: relative;
    min-height: 530px;
}
.carousel-inner {
    min-height: 530px;
    position: relative;
}
.carousel-caption{
    top: 76px;
    text-shadow: none;
}
.carousel-caption .btn {
    opacity: 1;
}

.main_slider_block {
    max-width: 645px;
    background-color: #e6e6ea;
    z-index: 1;
    opacity: 0.9;
    position: relative;
}
.main_slider_item {
    padding: 30px 86px 182px 86px;
    width: 100%;
}
.main_slider_item p {
    float: left;
    padding-bottom: 36px;
    text-align: left;
    color: #4c4c4c;
}
.main_slider_item button {
    float: left;
}
.carousel-inner > .item > a > img {
    max-width: none;
}
.img_slider {
    background: url("../images/main_slider1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.advantages {
    background-color: #ebf5fe;
}
.advantages_maim_item {
    margin: 69px 0px 32px 0px;
}
p {
    font-size: 15px;
    color: #444444;
}
.advantages p {
    text-align: center;
}
.advantages_item {
    text-align: center;
}
.advantages_item img {
    margin-bottom: 20px;
}

#fon_video {
    position: relative;
}
.fon_video_block {
    margin: 150px 0px 0px 82px;
}
.fon_video_block_item p{
    color: #fff;
}
.fon_video_block_item {
    padding-top: 15px;
}

h3 {
    color: #000;
    margin-top: 59px;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 11px;
}
h3:before {
    content: "";
    display: block;
    width: 43px;
    height: 3px;
    background-color: #05b8f4;
    top: 19px;
    left: 29px;
    position: absolute;
    clear: both;
    font-weight: bold;
}
.services_heder {
    padding-left: 85px;
    position: relative;
}
.services_item {
    margin-top: 34px;
    margin-bottom: 50px;
    position: relative;
}
.services_item img {
    width: 100%;
}

.services_item p {
   color: #444444;
}

h6 {
    color: #6bd0c2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 25px 0px 7px;
}

.overlay {
	height: 537px;
}

.consultation {
    margin-bottom: 40px;
    position: relative;
}
.consultation_main_item {
    position: relative;
    width: 100%;
}
.consultation p {
    color: #fff;
    padding: 16px 0px 26px 0px;
    margin-bottom: 0px;
    width: 622px;
}
.consultation_item {
    /*background: url("../images/woman.png") center center no-repeat;*/
    position: absolute;
    top: 15%;
    left: 8%;
}
.consultation_item h4 {
    margin-top: 10px;
    display: inline-block;
}
.consultation img {
    width: 100%;
}
.consultation_hidden {
    /*background: url("../images/woman-background-small.png") center center no-repeat;*/
    height: 220px;
    margin: 0px;
    padding: 0px;
}

.atmosphere {
    background: url("../images/atmosphere.jpg") no-repeat fixed;
    background-size: cover;
    height: 536px;
    position: relative;
}
.atmosphere h5 {
    color: #000;
    margin-right: 82px;
    text-align: right;
    margin-top: 227px;
}

h4 {
    font-size: 30px;
    color: #fff;
    margin: 0px;
}
h5 {
    font-size: 30px;
    text-transform: uppercase;
}

.question_item {
    margin-top: 38px;
    margin-bottom: 48px;
}
.ask h5 {
    padding-top: 75px;
    padding-bottom: 30px;
}
.ask p {
    color: #444444;
}

form {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
fieldset {
    padding: 54px 54px 59px 64px;
	position: relative;
}
form input[placeholder] {
	width: 100%;
	height: 44px;
    padding: 7px;
}
fieldset p  {
    position: relative;
}
input[type=checkbox] {
    display: none;
}
fieldset p span.ceckin {
    height: 18px;
    width: 18px;
    border: 1px solid gray;
    display: inline-block;
    position: absolute;
    background-color:#FFF;
    margin-right: 10px;

}
[type=checkbox]:checked + .ceckin:before {
    /*content: '\2714';*/
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    color: #1d64aa;
    display: block;
    font-size: 11px;
    left: 2px;
    bottom: 2px;
    top: 2px;
    right: 2px;
}
[type=checkbox]:checked + span.ceckin{
    border-color: #1d64aa;
}

input[type="radio"], input[type="checkbox"] {
	float: left;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	color: #1d64aa;
}
fieldset p label {
	display: inline!important;
	vertical-align: middle;
    font-size: 13px;
    color: #444444;
}
.checkbox_item {
    position: relative;
    margin-top: 18px;
}

fieldset p .btn {
    margin-top: 40px;
}
.checkbox_item label {
    margin-left: 30px;
}
.raz {
    position: relative;
}
.raz span {
    position: absolute;
    bottom: 0;
    left: 2px;
    opacity: .5;
    visibility: hidden;
    transition: .2s;
}
.raz input:placeholder-shown ~ span {
    visibility: visible;
    color: #969696;
}
.raz input:placeholder-shown:focus ~ span,
.raz input:not(:placeholder-shown) ~ span {
    bottom: 100%;
    opacity: 1;
    font-size: 80%;
    visibility: visible;
    color: #969696;
}
.raz span {
    padding-left: 18px;
}


footer {
    background-color: #1d64aa;
}
.footer_items_menu {
    padding-top: 40px;
}
.footer_items_menu:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #4173a4;
}
.footer_items_menu h6 {
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.footer_items_menu ul {
    margin-bottom: 40px;
    padding: 0px;
}
.footer_items_menu ul li {
    padding-bottom: 9px;
}
.footer_items_menu ul.link_social li {
     display: inline;
     padding-left: 23px;
 }
.footer_items_menu ul.link_social {
    float: right;
}
.footer_items_menu ul.link_social a {
    padding-left: 0px;
}
.footer_items_menu ul li a {
    color: #a1b7d4;
    padding-left: 5px;
}
.footer_items_menu ul li a:hover {
    color: red;
    text-decoration: underline;
}
.footer_items span {
    color: #a8bcd7;
}
.footer_items span a {
    color: #fff;
    text-decoration: underline;
}
.footer_items span a:hover {
    color: red;
}
.bottom_footer {
    padding: 26px 0px;
}
.bottom_footer span {
    font-size: 13px;
}
.made {
    float: right;
}
address {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 1280px) {
    #myCarousel, .carousel-inner, .item {
        min-height: 530px;
    }
}
@media (max-width: 995px) {
    .advantages_item {
        text-align: center;
    }
    .services_item {
        text-align: center;
    }
    .common_item_first, .common_item_second {
        display: flex;
        justify-content: center;
        float: none;
    }
    h1 {
        font-size: 20px;
    }
    .main_slider_item p {
        font-size: 12px;
    }
    .main_slider_item {
    }
    .footer_items_menu address {
        font-size: 18px;
    }
    .footer_center {
        text-align: center;
    }
    .footer_items_menu ul.link_social li {
        padding-left: 15px;
    }

}
@media (max-width: 766px) {
    .navbar-header .navbar-brand {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
    }
    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }
    .navbar ul.navbar-nav {
        display: block;
    }
}
@media (max-width: 726px) {
    .consultation p {
        width: auto;
        padding-right: 10px;
        padding-bottom: 16px;
    }
}
@media (max-width: 640px) {
    #myCarousel, .carousel-inner, .item {
        min-height: 460px;
    }
    h1 {
        font-size: 18px;
    }
    .main_slider_item p {
        padding-bottom: 25px;
    }
}

@media (max-width: 600px) {
    .consultation_item p {
        padding-top: 5px;
    }
    .consultation_item {
        padding-top: 5px;
    }
    #navbarCollapse .navbar-nav li a i {
        margin-left: 6px;
    }
}

@media (max-width: 580px) {
    h1, h2 {
        font-size: 15px;
    }
    h3, h5 {
        font-size: 18px;
    }
    .main_slider_item p {
        font-size: 13px;
    }
    .main_slider_item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .fon_video_block {
        margin-left: 0px;
        text-align: center;
    }
    .fon_video_block_item p, .services_heder p {
        font-size: 11px;
    }
    .services_heder {
        padding-left: 80px;
    }
    .services_heder p {

    }
    .services_item img {
        width: 100%;
    }
    .bottom_footer span {
        font-size: 12px;
        text-align: center;
    }
    .footer_items_menu ul.link_social {
        float: none;
        text-align: center;
    }
    .consultation_item {
        top: 8%;
    }
    .consultation_item p {
        font-size: 13px;
        display: inline-block;
    }
    .consultation_item h4 {
        font-size: 17px;
        text-align: center;
        display: inline-block;
    }
    .consultation_item button {
        width: 190px;
    }
    .navbar-brand {
        text-align: center;
    }
    .phone ul li address {
        font-size: 10px;
    }
    .main_slider_item button {
        width: 156px;
    }
    .bell button {
        width: 120px;
        font-size: 11px;
    }
    .tagline {
        text-align: center;
        margin-right: 15px;
    }
    .checkbox_item label {
        margin-left: 0px;
    }
    .checkbox_item .ceckin {
        position: static;
    }
    fieldset input[type=submit] {
        width: 173px;
    }
    fieldset {
        padding: 54px 20px 59px 20px;;
    }
    h3:before {
        width: 23px;
    }
    .services_heder {
        padding-left: 60px;
    }
}
@media (max-width: 580px) {
    .consultation_item {
        top: 4%;
        left: 5%;
    }
}
@media (max-width: 480px) {
    #myCarousel, .carousel-inner, .item {
        min-height: 460px;
    }
}